body {
    font: 400 20px Lato, sans-serif;
    line-height: 1.8;
    color: #383838;
    text-align: justify;

}

@media screen and (max-width: 768px) {
    body {
    }
}


h1 {
    text-shadow: 0px 0px 4px black;
    /*background-color: rgba(0, 0, 0, 0.5);*/
}
h1.non-jumbotron-header {
    text-shadow: none;
    text-align: center;
}

h1.sars {
    text-shadow: none;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #b5a12b;
    font-weight: 600;
    margin-bottom: 30px;
}
h2.values {
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 30px;
    text-shadow:  0px 0px 4px black;
    /*background-color: rgba(0, 0, 0, 0.5);*/
}
h2.serviceHeading {
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 30px;
    text-shadow: 0px 0px 4px black;
    /*background-color: rgba(0, 0, 0, 0.5);*/
}
h2.strong-heading {
    font-size: 26px;
    text-transform: uppercase;
    color: #1e243b;
    font-weight: 600;
    margin-bottom: 30px;
}

h2.strong-heading-center {
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    color: #1e243b;
    font-weight: 600;
    margin-bottom: 30px;
}
h3 {
    font-size: 21px;
    line-height: 1.375em;
    font-weight: 800;
    margin-bottom: 15px;
    color: #b5a12b;
}
h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

strong {
    font-weight: bold;
    color: #000000;
}

.container {

}

/*FAQ*/
.faq-main-button {
    background-color: #1e243b;
    border: 1px solid white;
    font-size: 19px;
    color: #b5a12b;
}

.faq-content-button  + div {
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f5f5f5;
}

.faq-content-button {
    text-align: left !important;
    font-size: 17px;

    white-space:normal !important;
    word-wrap:break-word;
}

.faq-main-button:hover {
    background-color: #121325;
}

div.faq-content {
    padding-left: 5px;
}




.white {
    color: #fff !important;
}

.bottom-information {
    background: #1e243b;
    text-align: left;
}

/*Jumbotrons*/
.jumbotron {
    background-color: #1e243b;
    color: #fff;
    padding: 180px 25px;
    height: 50%;
    background-position: center;
    font-family: Montserrat, sans-serif;
}
/*Home*/
#top-bar {
    top: 0px;
    position: fixed;
    background-color: white;
    padding: 0px;
    width: 100%;
    z-index: 9999;
}


#home-jumbotron.jumbotron-image {
    background-image: url("../images/home-4.jpg");
    background-position: center bottom 20%;
    background-size: cover;

}

.about {
    margin-top: 0.7em;
    box-shadow: -1px 1px 3px 0px rgba(0,0,0,0.75);
}

/*About us*/
/*#about-us-jumbotron.jumbotron-image {*/
    /*background-image: url("../images/about-us.jpg");*/
    /*background-size: cover;*/
/*}*/

/*Contact us*/
#contact-jumbotron.jumbotron-image {
    background-image: url("../images/contact-2.jpg");
    background-position: center top 20%;
    background-size: cover;
}

#faq-jumbotron.jumbotron-image {
    background-image: url("../images/faq.jpg");
    background-position: center top 27%;
    background-size: cover;
}


/*Business services*/
/*Business rescue*/
#business-rescue-jumbotron.jumbotron-image {
    background-image: url("../images/business-services/business-rescue-2.jpg");
    background-position: center top 15%;
    background-size: cover;
}

/*Contracts*/
#contracts-jumbotron.jumbotron-image {

}

/*Compromise*/
#compromise-jumbotron.jumbotron-image {
    background-image: url("../images/business-services/compromise.jpg");
    background-position: center top 35%;
    background-size: cover;
}
/*Debt Compromises*/
#debt-compromises-jumbotron.jumbotron-image {
    background-image: url("../images/business-services/compromise.jpg");
    background-size: cover;
}

/*New Companies*/
#new-companies-jumbotron.jumbotron-image {
    background-image: url("../images/business-services/good-times.jpg");
    background-position: center top 30%;
    background-size: cover;
}

/*Tax relief applications*/
#tax-relief-applications-jumbotron.jumbotron-image {
    background-image: url("../images/business-services/tax-debt.jpg");
    background-size: cover;
}

/*Tax strategy*/
#tax-strategy-jumbotron.jumbotron-image {
    background-image: url("../images/business-services/stategy.jpg");
    background-size: cover;
}

/*Voluntary liquidation*/
#voluntary-liquidation-jumbotron.jumbotron-image {
    background-image: url("../images/business-services/business-2.jpg");
    background-size: cover;
}

/*Corporate Structuring*/
#corporate-structuring-jumbotron.jumbotron-image {
    background-image: url("../images/business-services/corporate-structuring-2.jpg");
    background-size: cover;
}

/*Other services*/
/*Insolvency Inquiries*/
#insolvency-inquiries-jumbotron.jumbotron-image {
    background-image: url("../images/business-services/insolvency-enquiries.jpg");
    background-size: cover;
}

/*Legal advice and opinions*/
#legal-advice-jumbotron.jumbotron-image {
    background-image: url("../images/business-services/advice.jpg");
    background-size: cover;
}

/*Property transfers*/
#property-transfers-jumbotron.jumbotron-image {
    background-image: url("../images/personal-services/house.jpg");
    background-size: cover;
}

/*Personal services*/
/*Antenuptual contracts*/
#antenuptual-contracts-jumbotron.jumbotron-image {
    background-image: url("../images/personal-services/marriage-4.jpg");
    background-size: cover;
}

/*Asset Protection*/
#asset-protection-jumbotron.jumbotron-image {
    background-image: url("../images/personal-services/house.jpg");
    background-size: cover;
}

/*Change of matremonial property system*/
#change-of-matrimonial-property-jumbotron.jumbotron-image {
    background-image: url("../images/personal-services/marriage.jpg");
    /*background-position: center top 15%;*/
    background-size: cover;
}

/*Family trusts*/
#family-trusts-jumbotron.jumbotron-image {
    background-image: url("../images/personal-services/family-2.jpg");
    background-size: cover;
}

/*Insolvency rehab*/
#insolvency-rehabilitation-jumbotron.jumbotron-image {
    background-image: url("../images/personal-services/reset.jpg");
    background-position: center bottom 35%;
    background-size: cover;
}

/*voluntary sequestration*/
#voluntary-sequestration-jumbotron.jumbotron-image {
    background-image: url("../images/personal-services/reset.jpg");
    background-position: center bottom 35%;
    background-size: cover;
}

/*Wills*/
#wills-jumbotron.jumbotron-image {
    background-image: url("../images/personal-services/book-notes.jpg");
    background-position: center bottom 40%;
    background-size: cover;
}

/*Images*/
img#jjPeplerLogo {
    padding-bottom: 2px;
    padding-top: 2px;
    height: auto;
    width: 180px;

}
/*Types of trusts*/

#trust-types-container {
    text-align: center;
}

/*Rehabilitation*/

.graph {
    text-align: center;
}

img#trust-types {
    margin: 0 auto;
    width: 50%;
}
.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.container-fluid {
    padding: 60px 50px;
}
.bg-grey {
    background-color: #f6f6f6;
}
.logo-small {
    color: #1e243b;
    font-size: 50px;
}
.logo {
    color: #1e243b;
    font-size: 200px;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #1e243b;
}
.carousel-indicators li {
    border-color: #1e243b;
}
.carousel-indicators li.active {
    background-color: #1e243b;
}
.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}
.item span {
    font-style: normal;
}
.panel {
    border: 1px solid #1e243b;
    border-radius:0 !important;
    transition: box-shadow 0.5s;
}
.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
    border: 1px solid #1e243b;
    background-color: #fff !important;
    color: #1e243b;
}
.panel-heading {
    color: #fff !important;
    background-color: #1e243b !important;
    padding: 5px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.panel-footer {
    background-color: white !important;
}
.panel-footer h3 {
    font-size: 32px;
}
.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}
.panel-footer .btn {
    margin: 15px 0;
    background-color: #1e243b;
    color: #fff;
}

/*NAV BAR*/

#navbar {
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.navbar {
    margin-bottom: 0;
    background-color: #1e243b;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 1.3px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

.nav-logo {
    height: 40px;
    padding-top: 10px;
    padding-right: 5px;
}

@media screen and (max-width: 768px) {
    .nav-logo {
        padding-left: 20px;
    }
}

.navbar li a {
    color: #fff !important;
    border-bottom: 2px solid transparent;
    padding-left: 8px;
    padding-right: 8px;
}

.navbar li.contactNumber {
    color: #fff !important;
    border-bottom: 2px solid transparent;
    padding: 15px 8px;
    font-size: 13px;
}

@media screen and (max-width: 768px) {
    .navbar li.contactNumber {
        color: #fff !important;
        border-bottom: 2px solid transparent;
        padding: 10px 8px 10px 24px;
    }
}

.navbar li ul li{
    color: #1e243b !important;
    background-color: #fff !important;
    border-bottom: 2px solid #b5a12b;
}
.navbar-brand {
    color: #b5a12b !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #1e243b !important;
    background-color: #fff !important;
}

.navbar-nav li.active {
    border-bottom: 2px solid #b5a12b;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}
.affix ~ .container-fluid {
    position: relative;
    padding-top: 10px;
}


#contactHeader {
    padding: 0px !important;
    background-color: white;
}

#contactHeader > div > div > h2, h3, h4 {
    margin: 10px 0px 10px 0px;
}

#contactHeader > div > div {
    text-align: left;
}

#contactHeader > div > div > div{
    padding-left: 0px !important;
}


@media screen and (max-width: 768px) {
    img#jjPeplerLogo {
        width: 100px;
    }
    .logo-container {
        text-align: left;
        background-color: #1e243b;
    }
    #contactHeader > div > div {
        text-align: center;
        margin: 0px 0 !important;
        font-size: 1.0em;
    }

    #contactHeader > div > div > h3, h4 {
        margin: 1px;
        font-size: 0.8em;
    }

    #contactHeader > div > div > h4 {
        padding-left: 5px;
        margin: 1px;
        font-size: 0.8em;
    }

    #contactHeader > div > div > h2 {
        margin: 1px;
        font-size: 0.9em;
    }

    #contactHeader > div > div > h2, h3, h4 {
        text-align: left !important;
        float: none !important;
    }
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

.dropdown-menu {
    width: 200% !important;
    padding: 0;

}
.divider {
    margin: 0px;
    padding: 0px;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
    white-space: normal;
    background-color: #fff !important;

}

.dropdown-menu li a:hover {
    color: #fff !important;
    background-color: #1e243b !important;
    border-bottom: none;
}

@media screen and (min-width: 768px) {
    .dropdown:hover .dropdown-menu, .btn-group:hover .dropdown-menu {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .navbar-heading {
        padding-left: 2em !important;
    }
}




/*Footer*/
footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #1e243b;
}

h3.footer-header {
    font-size: 25px;
    font-weight: normal;
    color: #b5a12b !important;
}

.footer-contact {
    color: white;
}

.footer-copyright {
    color: white;
}



.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
}
@media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
}
